/*Style for text*/
:root { /*Global custom variables, such as colours, that are used by many different elements*/
    --nav-color: rgb(199, 236, 246); /*The colour of the navbar*/
    --nav-hover-color: rgb(109, 166, 181);/*The colour the links change to when hovered over*/
}
body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
} 
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem; /*The font sizes will be relative to the user's browser settings*/
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}


.right {
    float: right;
}
.cf::after /*clearfix hack*/ { 
    /*Adds an element which will float below the floating objects, 
    which will cause the navbar to extend to the full height of the elements*/
    content: "";
    clear: both;
    display: table;
}


nav#main {
    position: sticky; /*The navbar will stay at the top of the page when the user scrolls down*/
    top: 0; 
    width: 100%; /*To make the navbar fill the entire width of the page*/
    background-color: var(--nav-color); 
}
nav ul {
    list-style-type: none; /*Removes the bullet points beside each link*/
    margin: 0;
    padding: 0;
}
nav#main ul li {
    float: left;
    
}
nav#main ul li a {
    font-size: 1.5rem;
    height: 2em;
    line-height: 2em;
    box-sizing: border-box;
    padding: 0;


    text-decoration: none;
    color: #000;
}
nav#main ul li a:hover { /*When a button is hovered over*/
    background-color: var(--nav-hover-color);
}


footer {
    padding: 1em;
}
footer nav {
    float: left;
}